################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SeleniumWebDriver/v15
/.vs
/GoogleUIBase/bin/Debug
/GoogleUIBase/obj/Debug
/GoogleUIBase/packages
/SeleniumWebDriver/bin/Debug
/SeleniumWebDriver/obj/Debug
/SeleniumWebDriver/packages
/packages
